.jp-settings-card__configure-link {
	display: flex;
	margin-bottom: 0;
}

.jp-form-settings-card .dops-foldable-card {
	.dops-foldable-card__header {
		color: #444;
		padding-left: rem( 24px );
		padding-right: rem( 24px );

		.form-toggle__label {
			display: inline-block;
			vertical-align: text-bottom;
		}
	}

	&.is-expanded .dops-foldable-card__content {
		padding: 1.5rem;

		p {
			font-size: rem( 14px );
			margin-top: 0;
			margin-bottom: rem( 24px );
		}
		.form-toggle__label {
			margin-top: 4px;
			margin-bottom: 4px;
		}
		.form-toggle__switch {
			float: left;
			margin-top: 2px;
		}
		.jp-form-setting-explanation {
			color: $gray-text-min;
			display: block;
			margin: rem( 5px ) rem( 14px ) 0 0;
			font-size: rem( 13px );
			font-style: italic;
			font-weight: 400;
			word-break: break-word;

			+ .dops-card {
				margin-top: rem( 16px );
			}
		}
	}
}